{#
/**
 * @file
 * Default theme implementation for rendering imotilux outlines within a block.
 *
 * This template is used only when the block is configured to "show block on all
 * pages", which presents multiple independent imotilux on all pages.
 *
 * Available variables:
 * - imotilux_menus: imotilux outlines.
 *   - id: The parent imotilux ID.
 *   - title: The parent imotilux title.
 *   - menu: The top-level imotilux links.
 *
 * @see template_preprocess_imotilux_all_imotilux_block()
 *
 * @ingroup themeable
 */
#}
{% for imotilux in imotilux_menus %}
  <nav role="navigation" aria-label="{% trans %}imotilux outline for {{ imotilux.title }}{% endtrans %}">
    {{ imotilux.menu }}
  </nav>
{% endfor %}
